table {
    table-layout: fixed;
    width: fit-content;
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead tr th {
    /*border-top: 1px solid #dddddd;*/
    position: relative;
    /*font-size: 12px !important;*/
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: right;
    /*padding: 8px;*/
}

td, th {
    width: fit-content;
    /*border: 1px solid #dddddd;*/
    /*border-top: 0;*/
    /*border-right: 0;*/
    margin: 0;
    padding: 0;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

td:first-child, th:first-child {
    border-right: 0;
}

thead {
    background: lightgray;
    margin: 0;
    /*position: sticky;*/
    top: 0;
}

/*table, .divTable {*/
/*    border: 1px solid lightgray;*/
/*    width: 100%;*/
/*    border-collapse: separate;*/
/*    border-spacing: 0;*/
/*}*/

/*.tr {*/
/*    display: flex;*/
/*}*/

/*tr,*/
/*.tr {*/
/*    width: fit-content;*/
/*    height: 30px;*/
/*}*/

/*th,*/
/*.th,*/
/*td,*/
/*.td {*/
/*    box-shadow: inset 0 0 0 1px lightgray;*/
/*    padding: 0.25rem;*/
/*}*/

/*th,*/
/*.th {*/
/*    padding: 2px 4px;*/
/*    position: relative;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    height: 30px;*/
/*}*/

/*td, .td {*/
/*    height: 30px;*/
/*}*/
