@mixin fontFace($font-family, $font-style, $font-weight, $font-src) {
	@font-face {
		font-family: $font-family;
		font-style: $font-style;
		font-weight: $font-weight;
		// src: url($font-src + ".eot");
		src: /* url($font-src +".eot?#iefix") format("embedded-opentype") ,*/
				/* url($font-sArc + ".otf") format("opentype"),
						url($font-src + ".ttf") format("truetype"), */
				url($font-src + ".woff") format("woff"),
				url($font-src + ".woff2") format("woff2")
	}
}

@mixin input-placeholder {
	::-webkit-input-placeholder { /* Edge */
		@content
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		@content
	}
	::placeholder {
		@content
	}
}

@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}