$sidebar_with: 230px;
$main_header_height: 50px;
$background_color: rgb(243 244 246);
$gap: 12px;
$green: green;
$danger: red;

:root {
  --app-height: 100vh;
}

//$ticketing-height: calc(100vh - (108px + 162px) - #{$main_header_height} - 84px);
$ticketing-height: calc(var(--app-height) - (108px + 162px) - #{$main_header_height} - 96px);